@inject NavigationManager NavigationManager
<div class="filters">
    <label for="maxLength">Max Length</label>
    <input id="maxLength"
           type="number"
           class="form-control"
           @onkeydown="ApplyFilters"
           @bind:event="oninput"
           @bind="_maxLength"/>
    <button class="btn btn-outline-primary bi bi-filter-circle"
            @onclick="FilterSearchResults">

        Filter
    </button>

    <button class="btn btn-outline-secondary"

            @onclick="ClearSearchFilter">
        Clear
    </button>

</div>

@code {
    private int _maxLength;

    [Parameter]
    [EditorRequired]
    public string SearchTerm { get; set; } = default!;

    private void FilterSearchResults()
    {
        NavigationManager.NavigateTo(
            $"/search/{SearchTerm}/maxlength/{_maxLength}");
    }

    private void ClearSearchFilter()
    {
        _maxLength = 0;
        NavigationManager.NavigateTo($"/search/{SearchTerm}");
    }

    private void ApplyFilters(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;
        FilterSearchResults();
    }




}